<!DOCTYPE html>
<html>
<head>
  <title>RailsBackbone</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">

  <div class="header">
    <div class="inner">
      <div class="menu">
        <nav>
          <ul>
            <li><a href="/#/rss/index">Rss</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="inner">
      <%= yield %>
    </div>
  </div>

</div>

<div class="footer">
  <div class="inner">asd</div>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
